<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <title>Xtractify</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="styles.css"> -->

    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <nav>
      <h2>Xtractify</h2>
      <h5>Made by Kemeys</h5>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row">
          <form
            action="/"
            method="post"
            class="col s12"
            enctype="multipart/form-data"
          >
            <div class="row">
              <div class="input-field col s6">
                <div class="row">
                  <!-- <div class="row"> -->
                  <!-- <label for="First_title"><b>Upload Image</b></label><br> -->
                  <div class="file-field">
                    <label for="file_upload" class="button-1"
                      >Browse Files
                      <!-- <span id="fileName">Browse File</span> -->
                      <input
                        type="file"
                        name="file_upload"
                        id="file_upload"
                        style="display: none"
                        multiple
                        onchange="displayFileName()"
                      />
                    </label>
                    <div id="fileNameDisplay"></div>
                    <button type="button" onclick="uploadFile()">
                      Upload File
                    </button>
                  </div>
                  <!-- </div> -->
                  <div id="result"></div>
                  <div>
                    {% if text %}
                    <br />
                    <h3>Extracted</h3>
                    {% for i in text: %}
                    <p>{{ i }}</p>
                    {% endfor %} {% endif %}
                  </div>
                  <div class="row center">
                    <button id="submit" type="submit" class="button-2">
                      Extract
                    </button>
                  </div>
                  <!-- Add dropdown or radio buttons for download format -->
                  <!-- <div class="row">
                    <p>Choose download format:</p>
                    <p> -->
                      <!-- <label>
                        <input name="save_option" type="radio" value="csv" />
                        <span>CSV</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input name="save_option" type="radio" value="json" />
                        <span>JSON</span>
                      </label> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      function displayFileName() {
        const fileInput = document.getElementById("file_upload");
        const fileNameDisplay = document.getElementById("fileNameDisplay");

        // Check if a file is selected
        if (fileInput.files.length > 0) {
          const fileName = fileInput.files[0].name;
          fileNameDisplay.innerText = `Selected File: ${fileName}`;
        } else {
          fileNameDisplay.innerText = "";
        }
      }
      function uploadFile() {
        const fileInput = document.getElementById("file_upload");
        const resultDiv = document.getElementById("result");
        console.log("file", fileInput.files[0]);
        // Check if a file is selected
        if (fileInput.files.length == 0) {
          resultDiv.innerText = "Please select a file.";
          return;
        }

        const formData = new FormData();
        formData.append("file_upload", fileInput.files[0]);
        // for (let i = 0; i < fileInput.files.length; i++) {
        //   formData.append("file_upload", fileInput.files[i]);
        // }

        fetch("/", {
          method: "POST",
          body: formData,
        })
          // .then((Response) => Response.json())
          .then((data) => {
            // Handle the response from API
            resultDiv.innerText =
              "File Uploaded. Click Extract to view extraction.";
          })
          .catch((error) => {
            // Handle Errors
            resultDiv.innerText = "Error:" + error.message;
          });
      }
    </script>
  </body>
</html>
